*{
    margin: 0px;
    padding: 0px;
    box-sizing:  border-box;  
}
a{
    color: white;
}
#menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
   
    
}
.li{
    display: flex;
    align-items: center;
    
}


.bar{
    margin: 10px;
}
.menu-bar{
    background-color: darkblue;
    display: flex;
    color: white;
   align-items: center;
   justify-content: space-between;
   
   
  
}
.span{
    margin: 0 1rem;
}

@media screen and (max-width:768px){
    #menu{
           display: none;
    }

    #out.menuu {
        display: block;
        background-color: darkblue;
        color: white;
        width: 9rem;
        padding: 2rem;
        
    }
    li{
        padding: 0.5rem;
    }
}
